# Worksheet 2 – Exploratory Data Analysis with Pandas (Solved)

## Problem 1 – Data Read, Write and Inspect

In [ ]:
import pandas as pd

df = pd.read_csv("bank.csv")
df_info = df.info()
object_cols = df.select_dtypes(include='object').columns
unique_obj = {col: df[col].unique() for col in object_cols}
nulls = df.isnull().sum()

numeric_df = df.drop(columns=object_cols)
numeric_df.to_csv("banknumericdata.csv", index=False)

loaded = pd.read_csv("banknumericdata.csv")
summary = loaded.describe()

df_info, object_cols, unique_obj, nulls, summary

## Problem 2 – Data Imputations

In [ ]:
import pandas as pd

med = pd.read_csv("medical_student.csv")
med_info = med.info()
null_cols = med.isnull().sum()

for col in med.columns:
    if med[col].dtype == 'float' or med[col].dtype=='int':
        med[col].fillna(med[col].median(), inplace=True)
    else:
        med[col].fillna(med[col].mode()[0], inplace=True)

duplicates = med.duplicated().sum()
med = med.drop_duplicates()

med_info, null_cols, duplicates

## Titanic Dataset Tasks

### Problem 1

In [ ]:
import pandas as pd

titanic = pd.read_csv("titanic.csv")

subset = titanic[['Name','Pclass','Sex','Age','Fare','Survived']]
subset = subset[subset['Pclass']==1]

fare_stats = {
    "mean": subset['Fare'].mean(),
    "median": subset['Fare'].median(),
    "max": subset['Fare'].max(),
    "min": subset['Fare'].min()
}
fare_stats

### Problem 2

In [ ]:
null_age = subset['Age'].isnull().sum()
subset_clean = subset.dropna(subset=['Age'])
null_age

### Problem 3

In [ ]:
encoded = pd.get_dummies(titanic['Embarked'], prefix="Embarked")
titanic2 = pd.concat([titanic, encoded], axis=1).drop(columns=['Embarked'])
titanic2.head()

### Problem 4

In [ ]:
import matplotlib.pyplot as plt

survival_by_sex = titanic.groupby('Sex')['Survived'].mean()
survival_by_sex.plot(kind='bar')
plt.xlabel("Sex")
plt.ylabel("Survival Rate")
plt.title("Survival Rate by Gender")
plt.show()

### Problem 5

In [ ]:
survival_by_emb = titanic.groupby('Embarked')['Survived'].mean()
survival_by_emb.plot(kind='bar')
plt.xlabel("Port")
plt.ylabel("Survival Rate")
plt.title("Survival Rate by Embarkation Port")
plt.show()

### Problem 6 (Optional)

In [ ]:
titanic['AgeGroup'] = pd.qcut(titanic['Age'], 5, duplicates='drop')
grouped = titanic.groupby(['Pclass','AgeGroup'])['Survived'].mean()
grouped