In [ ]:
import pandas as pd

# Load dataset (ensure titanic.csv is in the same folder)
df = pd.read_csv("titanic.csv")

df.head()

In [ ]:
df.info()

## Problem 1 – Sorting

In [ ]:
fare = df[['Fare']]
fare.head()

In [ ]:
class_age = df[['Pclass', 'Age']]
class_age.head()

In [ ]:
survived_gender = df[['Survived', 'Sex']]
survived_gender.head()

## Problem 2 – Subsetting

In [ ]:
fare_gt_100 = df[df['Fare'] > 100]
fare_gt_100

In [ ]:
first_class = df[df['Pclass'] == 1]
first_class

In [ ]:
female_under_18 = df[(df['Age'] < 18) & (df['Sex'] == 'female')]
female_under_18

In [ ]:
embarked_c_or_s = df[df['Embarked'].isin(['C', 'S'])]
embarked_c_or_s

In [ ]:
first_second_class = df[df['Pclass'].isin([1,2])]
first_second_class

## EDA Practice – Fare per Year

In [ ]:
df['Age'] = df['Age'].fillna(df['Age'].median())
df['fare_per_year'] = df['Fare'] / df['Age']

high_fare_age = df[df['fare_per_year'] > 5]
high_fare_age_srt = high_fare_age.sort_values(by='fare_per_year', ascending=False)

result = high_fare_age_srt[['Name', 'fare_per_year']]
result.head()

## EDA Practice – Adult Males Highest Fare per Class

In [ ]:
df['fare_per_class'] = df['Fare'] / df['Pclass']

adult_males = df[(df['Sex']=='male') & (df['Age'] >= 18)]
adult_males_srt = adult_males.sort_values(by='fare_per_class', ascending=False)

result2 = adult_males_srt[['Name','Age','fare_per_class']]
result2.head()

## Group‑by Practice – Fare Revenue by Class

In [ ]:
total_fare = df['Fare'].sum()

fare1 = df[df['Pclass']==1]['Fare'].sum()
fare2 = df[df['Pclass']==2]['Fare'].sum()
fare3 = df[df['Pclass']==3]['Fare'].sum()

totals = [fare1, fare2, fare3]
proportions = [f/total_fare for f in totals]
proportions

## Group‑by Practice – Age Group Percentage

In [ ]:
def group_age(a):
    if a < 18:
        return 'child'
    elif a < 65:
        return 'adult'
    else:
        return 'senior'

df['age_group'] = df['Age'].apply(group_age)

total_passengers = len(df)
age_counts = df['age_group'].value_counts()
percentages = (age_counts / total_passengers) * 100
percentages